*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.centro{
  width: 300px ;
  display: block;
  box-shadow: 3px 3px 10px;
 text-align: center;
 margin:0 auto; 


}

.spidy{
display: block;
width: 300px ;
margin: 0 auto;
filter: drop-shadow(1px 1px 10px rgb(5, 10, 5));
margin: 10px auto;
text-align: center;


}

.text{  
display: block;
padding-bottom: 10px; 
text-align: center;
color: red;
font-size: 50px;
font-weight: bold;
background: white;
margin: 0 auto;
border-radius: 10px;


}

.goku{
display:  block;
width:  250px;
margin: 10px auto;
filter: drop-shadow(0px 0px 25px yellow);
border-radius: 5px 5px ;
}
.contenedor{
width: 100%;
display: block;
filter: drop-shadow(1px 1px 10px rgb(5, 10, 5));

}
.spiderman{
background: center red;
font-size:  30px;
text-align:  5px center;
color: white;







}



